

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gochi Hand');

html {
    min-height: 100%;
}
body {
    /*background-image: linear-gradient(30deg, #6588f8, #84e391);*/
    background-color: ghostwhite;
    color: black;
    font-family: 'Lato', Verdana, sans-serif;
}
main {
    min-width: 860px;
    max-width: 80%;
}

h1 {
    font-family: 'Gochi Hand', cursive;
}

a, a:active, a:visited {
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: orangered;
    text-decoration: none;
}



footer {
    position: fixed;
    width: 500px;
    bottom: 40px;
    margin-left: -250px;
    left: 50%;
}

header {
    width: 100%;
    text-align: center;
    text-space: 10px;
}

.block{
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: ghostwhite;
    border-radius: 25px;
}
.block, .hand-border, header img {
    align-self: center;
    transition: all 0.5s ease;
    color: #41403E;
    letter-spacing: 1px;
    outline: none;
   /* box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);*/
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

header img {
      border-radius: 15px 255px 15px 225px/225px 15px 225px 15px;
  }

.lined.thick, .lined.thick {
    border: solid 7px #41403E;
}
.dotted.thick, .dotted.thick {
    border: dotted 5px #41403E;
}
.dashed.thick, .dashed.thick {
    border: dashed 5px #41403E;
}
.lined.thin, .lined.thin, header img {
    border: solid 2px #41403E;
}
.dotted.thin, .dotted.thin {
    border: dotted 2px #41403E;
}
.dashed.thin, .dashed.thin {
    border: dashed 2px #41403E;
}

footer ul {
    margin: 0;
}
footer li {
    display: inline-block;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
