{% extends "html5.twig" %}

{% block body %}
    <section class="block lined thin">
    <header>
        <h1 class="display-1">Rik Meijer</h1>
        {{ img("/photos/IMG_1088.JPG") }}
        <h2>een mens</h2>
    </header>

    {% if posts|length > 0 %}
        <div class="row">
            {% for uri, post in posts %}
                <div class="col-lg-4">
                    <h3><a href="{{ uri }}">{{ post.title }}</a></h3>
                    <p>{{ intro|raw }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endblock %}