{% extends "html5.twig" %}

{% block body %}
    <header class="block lined thin">
        <h1>Rik Meijer</h1>
        {{ img("/photos/IMG_1088.JPG", 0.3) }}
        <h2>een mens</h2>
    </header>
{% endblock %}